@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#pagepiling .section
{
    text-align: center;
}

#pagepiling .section h1 
{
    color: #fff;
    font-size: 10em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}
#pagepiling .section h2
{
    color: #fff;
    font-size: 3em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, .5);

}
#pagepiling .section.sec1
{
    
    background: linear-gradient(#ffd700, #ffc0cb);
}
.sec1 span
{   position: absolute;
    right: -10px;
    top: -10px;
    width: 150px;
    height: 150px;
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}
.sec1 span::before
{
    content: 'Enjoy Gradations';
    position: absolute;
    width: 150%;
    height: 50px;
    background: #32cd32;
    transform: rotate(45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    box-shadow: 0, 5px 10px rgba(0, 0, 0, .1);

}

#pagepiling .section.sec2
{
    background: linear-gradient(#87cefa, #7fffd4);
}
#pagepiling .section.sec3
{
    background: linear-gradient(#ee82ee, #afeeee);
}
#pagepiling .section.sec4
{
    background: linear-gradient(#ff1493, #ffffe0);
}

#pagepiling .section.sec5
{
    background: linear-gradient(#ff7f50, #00ff7f);
}

